<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>直方图统计</title>
    <!-- 引入 echarts.js -->
    <script src="/static/js/Echarts.common.min.js"></script>
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 100%;height:500px"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '{{val}}相关论文机构发文量统计'
            },
            tooltip: {},
            legend: {
                data:['论文数量']
            },
            xAxis: {
                data:{{ name|safe }},
                axisLabel:{
                    interval:0,
                    rotate:-45,
                    textStyle: {
                    fontSize : 8     //更改坐标轴文字大小
                    }
                }
            },
            yAxis: {},
            grid:{
                height:350
            },
            series: [{
                
                type: 'bar',
                data: {{ key|safe }},
                itemStyle:{
                normal:{
                        color: function (params){
                                    var colorList = ['#A52A2A','rgb(42,170,227)','rgb(25,46,94)','#CD5C5C'];
                                    return colorList[params.dataIndex];
                },
                        label: {
                                    show: true, //开启显示
                                    position: 'top', //在上方显示
                                    textStyle: { //数值样式
                                        color: 'red',
                                        fontSize: 16
                                    }
                                }
                }
                }
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <p id="p"></p>
</body>
</html>