<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #title{font-style: normal}
        #author{font-size: 16px;font-style: revert}
        #school{font-size: 16px;font-style: revert}
        #abstract{font:20px/40px Microsoft Yahei;}
    </style>
</head>
<body style="background-color: #F5F5DC;">
<center>
    <div id="title"><h2>{{ title }}</h2></div>
    <div id="author">{{ author }}</div>
    <div id="school">{{ school }}</div>
</center>
<br><hr><br>
    <div id="abstract">{{ zy }}</div>
    <div id="abstract">{{ keyword }}</div>
    <div id="abstract">来源：{{ org }}&nbsp;{{ date }}</div>
</body>
</html>