<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>登录页面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--图标库-->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>

<!--响应式框架-->
<link rel='stylesheet' href="/static/css/bootstrap.min.css">


<!--主要样式-->
<link rel="stylesheet" href="/static/css/style.css">





</head>
<body>
  
<div class="container">

	<div class="card-wrap">
	
		<div class="card border-0 shadow card--welcome is-show" id="welcome">
			<div class="card-body">
				<h2 class="card-title">欢迎光临</h2>
				<p>欢迎进入系统登录页面</p>
				<div class="btn-wrap">
                    <a class="btn btn-lg btn-register js-btn" data-target="register" href="http://127.0.0.1:8000/register/">注册</a>
                    <a class="btn btn-lg btn-login js-btn" data-target="login" href="http://127.0.0.1:8000/login/">登录</a></div>
			</div>
		</div>
		

	</div>
	
</div>
  

<script src="/static/js/index.js"></script>
</body>
</html>